.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(#1e212b, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  z-index: 9999;
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;

  svg {
    font-size: 2.5rem;

    path {
      fill: #eaf2ef;
    }
  }

  &.show {
    transform: scale(1.25);
  }
}
