.footer {
  &__container {
    padding: 3rem 0;
    background-color: #1e212b;
    color: #eaf2ef;

    hr {
      height: 2px;
      background: #eaf2ef;
    }
  }

  &__items {
    &__container {
      a {
        margin: 0 0.5rem;
        color: #eaf2ef;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      svg {
        font-size: 1.75rem;
        margin: 0.5rem;
        color: #eaf2ef;
        transform: scale(1.25);
        transition: 0.3s all ease;
        margin: 1rem;

        &:hover {
          color: #d64550;
          transform: scale(1.5);
          transition: 0.3s all ease;
        }
      }

      h4 {
        font-size: 1.35rem;
      }

      p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}
