.category {
  &-item {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    height: 300px;
    width: 360px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &__container {
      border: 1px solid #f2af29;
      z-index: 0;
      transition: all 0.5s ease;
      opacity: 1;

      &:hover {
        z-index: 10;
      }

      &:hover {
        & > div {
          & > div {
            &:last-child {
              background-color: rgba(#eaf2ef, 1);
            }

            &:first-child {
              transform: scale(1.25);
              transition: all 1s ease;
            }
          }
        }
      }

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: #eaf2ef;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
        opacity: 1;
      }

      &:before {
        width: calc(100% + 2px);
        height: 100%;
        z-index: 1;
        transition: height 1s ease, opacity 0.8s ease,
          background-color 0.5s ease;
      }

      &:after {
        height: calc(100% + 2px);
        width: 100%;
        z-index: 1;
        transition: width 1s ease, opacity 0.8s ease, background-color 0.5s ease;
      }

      &:hover,
      &:focus {
        &:before {
          transition: height 0.5s ease, opacity 0.8s ease,
            background-color 1s ease;
          height: 85%;
          opacity: 0.25;
          background-color: #f2af29;
        }

        &:after {
          transition: width 0.5s ease, opacity 0.8s ease,
            background-color 1s ease;
          width: 85%;
          opacity: 0.25;
          background-color: #f2af29;
        }
      }

      & > div {
        z-index: 999;
      }
    }

    &__bg-img {
      background-position: center;
      background-size: cover;
      transition: all 0.5s ease;
    }

    &__content {
      background-color: rgba(245, 245, 245, 0.5);
      height: 125px;
      width: 150px;
      box-sizing: border-box;
      clip-path: polygon(
        25% 0%,
        75% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
      );
      transition: all 0.5s ease-in-out;
    }

    &__title {
      z-index: 3;
      line-height: 1em;
      font-size: 1.4rem;
      color: #1e212b;
    }
  }
}
