.card-testimonial {
  &__container {
    margin: 4rem 1rem 1rem;
    padding: 2rem;
    background-color: #fffeff;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
    filter: drop-shadow(0px 10px 20px rgba(50, 50, 0, 0.6));

    @media screen and (max-width: 1440px) {
      margin: 3rem 1rem 1rem;
      padding: 1.5rem;
      border-radius: 0.75rem;
    }

    @media screen and (max-width: 1200px) {
      margin: 2rem 0.75rem 0.75rem;
      padding: 1.25rem;
      border-radius: 0.5rem;
    }

    @media screen and (max-width: 992px) {
      margin: 2rem 2rem 0.5rem;
    }

    @media screen and (max-width: 768px) {
      margin: 2rem 1.5rem 0.5rem;
      padding: 0.75rem 1rem;
    }

    &:hover {
      transform: translateY(-10px);
      transition: all 0.5s ease-in-out;
      filter: drop-shadow(0px 15px 25px rgba(50, 50, 0, 0.75));
    }
  }

  &__rating {
    margin-right: 0.25rem;

    svg {
      @media screen and (max-width: 1440px) {
        font-size: 0.9rem;
      }

      @media screen and (max-width: 1200px) {
        font-size: 0.8rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 0.75rem;
      }

      & > path {
        fill: #f2af29;
      }
    }
  }

  &__reviewer {
    font-size: 1.1rem;
    margin-right: 1rem;
    line-height: 1em;
    height: 22px;

    @media screen and (max-width: 1440px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 0.9rem;
      height: 18px;
      margin-top: 0.25rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  &__occupation {
    font-size: 0.9rem;
    opacity: 0.5;

    @media screen and (max-width: 1440px) {
      font-size: 0.75rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 0.7rem;
    }

    &__container {
      margin-top: -0.5rem;

      @media screen and (max-width: 1200px) {
        margin-top: -0.25rem;
      }

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }
  }

  &__review {
    padding-top: 1rem;
    font-size: 0.9rem;

    @media screen and (max-width: 1440px) {
      font-size: 0.8rem;
    }

    @media screen and (max-width: 1200px) {
      font-size: 0.75rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 0.7rem;
    }

    &__container {
      svg {
        position: absolute;

        @media screen and (max-width: 1440px) {
          font-size: 0.9rem;
        }

        @media screen and (max-width: 1200px) {
          font-size: 0.8rem;
        }

        @media screen and (max-width: 768px) {
          font-size: 0.75rem;
        }

        &:first-of-type {
          top: 0;
          left: -10px;
        }

        &:last-of-type {
          bottom: 10px;
          right: -10px;
        }
      }
    }
  }
}
