.checkout-form {
  &__section {
    padding-top: 8rem !important;

    @media screen and (max-width: 1200px) {
      padding-top: 4rem !important;
    }
  }

  &__content {
    flex: 2;
    padding-right: 2.5rem;

    @media screen and (max-width: 1200px) {
      padding-right: 1rem;
    }

    @media screen and (max-width: 992px) {
      padding: 0;
    }

    &__container {
      padding: 3rem 0 0;

      @media screen and (max-width: 1200px) {
        padding: 2rem 0 0;
      }

      @media screen and (max-width: 992px) {
        padding: 1rem 0 0;
      }
    }
  }

  &__notice {
    p,
    span {
      font-size: 1.25rem;

      @media screen and (max-width: 1200px) {
        font-size: 1.1rem;
      }

      @media screen and (max-width: 992px) {
        font-size: 0.9rem;
      }
    }

    span {
      cursor: pointer;
    }
  }

  &__sidebar {
    flex: 1;
  }

  &__form {
    &__checkbox {
      margin: 2rem 0 0;

      @media screen and (max-width: 992px) {
        margin: 1rem 0 0;
      }

      label {
        cursor: pointer;

        &.required {
          span::before {
            background: #d64550;
            transition: 0.3s all ease;
          }

          &:hover,
          &:focus {
            span::before {
              background: #d64550;
              box-shadow: inset 0 0 0 2px #d64550;
              transition: 0.3s all ease;
            }
          }
        }
      }

      input[type="checkbox"] {
        transition: 0.3s all ease;
        opacity: 0;
        position: absolute;
        z-index: 100;
        width: 20px;
        height: 20px;
        cursor: pointer;

        & + span {
          margin-left: 30px;
          color: #1e212b;
          font-size: 1.25rem;

          @media screen and (max-width: 1200px) {
            font-size: 1rem;
          }

          @media screen and (max-width: 992px) {
            font-size: 0.9rem;
          }
        }

        & + span::before {
          color: #fffeff;
          content: "";
          width: 20px;
          height: 20px;
          margin: 0;
          background: #1e212b;
          line-height: 20px;
          text-align: center;
          transition: 0.3s all ease;
          position: absolute;
          top: 4px;
          left: 0;

          @media screen and (max-width: 1200px) {
            top: 0;
          }
        }

        &:disabled {
          & + span::before {
            background: #eaf2ef;
            transition: 0.3s all ease;
          }
        }

        &:hover,
        &:focus {
          & + span::before {
            background: #fffeff;
            box-shadow: inset 0 0 0 2px #00a6ed;
            transition: 0.3s all ease;
          }
        }

        &:disabled:hover,
        &:disabled:focus {
          & + span::before {
            background: #eaf2ef;
            box-shadow: inset 0 0 0 2px #1e212b;
            transition: 0.3s all ease;
          }
        }

        &:checked + span::before {
          content: "\2714";
          background: #00a6ed;
          font-size: 20px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  &__additional-comments {
    margin-top: 3rem;
  }
}
