.category-preview {
  &__container {
  }

  &__content {
    span {
      transition: all 0.3s ease;
      color: #1e212b;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &__title {
    font-family: "Quintessential", cursive;
    letter-spacing: 3px;
  }

  &__items {
    &__container {
    }
  }
}
