.spinner {
  border-radius: 50%;
  border-top: 10px solid #d64550;
  border-right: 10px solid #f2af29;
  border-bottom: 10px solid #00a6ed;
  border-left: 10px solid #1e212b;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  z-index: 101;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &__section {
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: #fffeff;
  }

  &__wrapper {
    top: 0;
    left: 0;
    transform: scaleX(1);
    z-index: 100;
    transition: all 0.5s ease;
  }
}

@keyframes spin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
