.delivery-banner {
  &__content {
    filter: drop-shadow(0 10px 10px rgba(93, 103, 91, 0.75));
  }

  &__icon {
    width: 200px;
    object-fit: cover;
    cursor: pointer;

    @media screen and (max-width: 1440px) {
      width: 175px;
    }

    @media screen and (max-width: 1200px) {
      width: 150px;
    }

    @media screen and (max-width: 992px) {
      width: 125px;
      padding-bottom: 2rem;
    }
  }
}
