.header-social {
  &__container {
    top: 0;
    left: 0;
    right: 0;
    padding: 0.75rem 0;
    background: #1e212b;

    ul {
      li {
        &:not(:last-of-type) {
          margin-right: 2rem !important;
        }

        a {
          svg {
            font-size: 1.25rem;
            margin-right: 0.5rem;

            path {
              fill: #f2af29 !important;
            }
          }

          span {
            font-size: 0.9rem;
            color: #eaf2ef;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}
