.error-boundary {
  &__wrapper {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div {
      background-image: url("https://i.imgur.com/lKJiT77.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 500px;
      height: 500px;
      margin-bottom: 32px;
    }

    h1 {
      margin-bottom: 40px;
    }

    p {
      max-width: 500px;
      margin-bottom: 100px;
      text-align: center;
    }
  }
}
