.cart-icon {
  &__container {
    cursor: pointer;
    transition: all 0.3s ease;

    &::before {
      content: unset !important;
    }

    svg {
      font-size: 2.5rem;

      path {
        fill: #f2af29;
      }
    }

    span {
      bottom: -20px;
      right: -20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #1e212b;
      color: #fffeff;
      z-index: 1;
    }
  }
}
