.gallery {
  &-item {
    &__container {
      max-width: 600px;
      width: 100%;
      height: 400px;
      margin: 0.75rem;
      filter: drop-shadow(0 10px 10px rgba(93, 103, 91, 0.75));

      &:hover {
        .gallery-item__img,
        .gallery-item__img-overlay {
          &.left {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          }

          &.right {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          }
        }
      }
    }

    &__img {
      object-fit: cover;
      transition: 0.3s all ease;

      &.left {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      }

      &.right {
        clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
      }

      &-overlay {
        top: 0;
        left: 0;
        background-color: transparent;
        transition: 0.3s all ease;
        cursor: pointer;

        &.left {
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        }

        &.right {
          clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
        }

        &:hover {
          background-color: rgba(1, 1, 16, 0.5);
          transition: 0.3s all ease;

          & svg {
            color: #eaf2ef;
            transform: scale(1.25);
            transition: 0.3s all ease;
          }
        }

        svg {
          font-size: 1.75rem;
          margin: 0.5rem;
          color: transparent;
          transition: 0.3s all ease;
          transform: scale(1);

          &:hover {
            color: #d64550;
            transform: scale(1.5);
            transition: 0.3s all ease;
          }
        }
      }
    }
  }
}
