.header-banner {
  &__section {
    margin-top: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    filter: brightness(0.7) saturate(150%) contrast(190%) hue-rotate(30deg);
  }

  &__content {
    right: 30%;
    left: 30%;
    bottom: 10%;
    top: 20%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    h1 {
      color: #fffeff;
      font-family: "Quintessential", cursive;
      letter-spacing: 3px;
    }
  }
}
