.header-banner {
  &__section {
    margin-top: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    filter: brightness(0.7) saturate(150%) contrast(190%) hue-rotate(30deg);

    @media screen and (max-width: 768px) {
      height: 200px;
      margin-top: 70px;
    }
  }

  &__content {
    right: 30%;
    left: 30%;
    bottom: 10%;
    top: 20%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    @media screen and (max-width: 768px) {
      left: 5%;
      right: 5%;
    }

    h1 {
      color: #fffeff;
      letter-spacing: 3px;

      @media screen and (max-width: 992px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 576px) {
        font-size: 1.5rem;
      }
    }
  }
}
