.checkout-form__method--payment {
  margin-top: 3rem;

  label {
    display: block;
    margin: 1rem 0;
    width: 47.5%;
    display: inline-block;

    &:last-of-type {
      margin-left: 5%;
    }

    input[type="radio"] {
      opacity: 0;
      width: 0;

      &:checked {
        & + .checkout-form__method--payment__container {
          background: #eaf2ef;

          span {
            color: #1e212b;
          }
        }
      }
    }
  }

  &__container {
    border: 1px solid #1e212b;
    box-shadow: 0 10px 10px rgba(#1e212b, 1);
    background: transparent;
    padding: 1.5rem;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

    span {
      color: #1e212b;
      font-size: 1.25rem;
      letter-spacing: 2px;
      flex: 1;
      text-align: center;
      transition: all 0.3s ease;
    }

    &:hover {
      background: #1e212b;

      span {
        color: #eaf2ef;
      }
    }
  }
}
