.section {
  &__title {
    font-family: "Quintessential", cursive;
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 32px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100px;
      height: 3px;
      background-color: #f2af29;
      left: calc(50% - 50px);
    }
  }
}
