.form-input {
  &__container {
    &.alternate-margin {
      &:nth-child(odd) {
        input {
          margin-right: 0.5rem !important;
        }
      }

      &:nth-child(even) {
        text-align: right;

        input {
          margin-left: 0.5rem !important;
        }
      }
    }

    label {
      margin-bottom: 10px;
      color: #1e212b;
      font-size: 12px;
      letter-spacing: 1.5px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    input {
      padding: 0.5rem 0.4rem;
      font-size: 0.8rem;
      background: #fffeff;
      border: 1px solid #eaf2ef;
      box-shadow: 0 10px 10px rgba(#eaf2ef, 1);
      border-radius: 5px;
      color: #1e212b;
      transition: all 0.3s ease;

      &.invert {
        background: transparent;
        border: 1px solid #1e212b;
        box-shadow: 0 10px 10px rgba(#1e212b, 1);
        border-radius: 5px;

        &:hover {
          background: #1e212b;
          color: #fffeff;
        }

        &:focus {
          box-shadow: inset 0 0 10px #1e212b;
          background: #1e212b;
          color: #fffeff;
        }
      }

      &:hover {
        background: #eaf2ef;
        transition: all 0.3s ease;
      }

      &:focus {
        box-shadow: inset 0 0 10px #eaf2ef;
        background: #fffeff;
        border: 1px solid #00a6ed;
        outline: none;
        transition: all 0.3s ease;
      }
    }
  }

  &__error {
    margin-top: -0.75rem;

    @media screen and (max-width: 1200px) {
      margin-top: -0.25rem;
      font-size: 0.9rem;
    }

    span {
      color: #d64550;
    }
  }
}
