.carousel {
  &-wrapper {
    height: 600px;
  }

  &-item {
    height: 600px;

    img {
      height: 600px;
      object-fit: cover;
      filter: brightness(0.7) saturate(150%) contrast(190%) hue-rotate(30deg);
    }
  }

  &-caption-custom {
    position: absolute;
    right: 50%;
    left: 15%;
    bottom: 20%;
    top: 20%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    &.right {
      right: 15%;
      left: 50%;
    }
  }

  &-indicators {
    margin: 0 !important;
    bottom: -10px !important;

    button {
      flex: 1 !important;
      margin: 0 !important;
      border-top: 0 solid transparent !important;
      border-bottom: 0 solid transparent !important;
      height: 10px !important;
      background-color: green !important;
    }
  }
}
