@import "~bootstrap/scss/bootstrap";

body {
  height: 100%;
  width: 100%;
  position: relative;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1e212b;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: inherit;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
}

//     font-family: 'Quintessential', cursive;
$raisin-black: #1e212b;
$english-vermillion: #d64550;
$honey-yellow: #f2af29;
$mint-cream: #eaf2ef;
$nyanza: #edffd9;
$carolina-blue: #00a6ed;
$turquoise: #81f4e1;
$white: #fffeff;
